<!-- ====== Made With Button Start -->
<a target="_blank" rel="nofollow noopener"
  class="inline-flex items-center gap-[10px] py-2 px-[14px] rounded-lg bg-white dark:bg-dark-2 shadow-2 fixed bottom-8 left-4 sm:left-9 z-[999]"
  href="">
  <span class="text-base font-medium text-dark-3 dark:text-dark-6">
    💻 Donate Electornics ->
  </span>
</a>
<!-- ====== Made With Button End -->