<!-- ====== Made With Button Start -->
<a
  target="_blank"
  rel="nofollow noopener"
  class="hover:animate-pulse inline-flex items-center border-2 border-purple-900 gap-2 py-3 px-5 rounded-lg bg-gradient-to-r from-accent-2 to-purple-600 text-white shadow-md fixed bottom-8 left-4 sm:left-8 z-50 accent-2 transition-transform transform hover:scale-105"
  href="/contact">
  <span class="text-base font-extrabold no-underline hover:underline hover:decoration-accent-1">
    💻 Donate Electronics
  </span>
  <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 7l5 5m0 0l-5 5m5-5H3" />
  </svg>
</a>
<!-- ====== Made With Button End -->
