<!-- ====== Hero Section Start -->
<section
  id="home"
  class="relative overflow-hidden bg-primary pt-[120px] md:pt-[130px] lg:pt-[160px]"
>
  <div class="container">
    <div class="-mx-4 flex flex-wrap items-center">
      <div class="w-full px-4">
        <div
          class="hero-content wow fadeInUp mx-auto max-w-[780px] text-center"
          data-wow-delay=".2s"
        >
          <h1
            class="mb-6 text-3xl font-bold leading-snug text-white sm:text-4xl sm:leading-snug lg:text-5xl lg:leading-[1.2]"
          >
          Connecting West Michigan with Technology
          </h1>
          <p
            class="mx-auto mb-9 max-w-[600px] font-medium text-base text-white sm:text-lg sm:leading-[1.44]"
          >
          AccessGR provides refurbished laptops, tech support, and digital resources to help low-income communities gain access to technology and opportunities.
          </p>
          <ul class="mb-10 flex gap-5 flex-wrap items-center justify-center">
            <!-- <li>
              <a
                href="#newsletter"
                class="flex items-center gap-4 py-[14px] rounded-md bg-white/[0.12] px-6 text-base font-medium text-white transition duration-300 ease-in-out hover:bg-white hover:text-dark"
              >
                Sign Up for Our Newsletter
              </a>
            </li> -->
            <li>
              <a
                href="/contact"
                class="flex items-center gap-4 py-[14px] rounded-md bg-white/[0.12] px-6 text-base font-medium text-white transition duration-300 ease-in-out hover:bg-white hover:text-dark"
              >
                Request a Refurbished Laptop
              </a>
            </li>
            <li>
              <a
                href="/contact"
                class="flex items-center gap-4 py-[14px] rounded-md bg-white/[0.12] px-6 text-base font-medium text-white transition duration-300 ease-in-out hover:bg-white hover:text-dark"
              >
                Donate ->
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div>
    <span class="absolute top-0 left-0">
      <svg width="495" height="470" viewBox="0 0 495 470" fill="none" xmlns="http://www.w3.org/2000/svg">
        <!-- Unique Circles -->
        <!-- <circle cx="80" cy="420" r="120" stroke="#FFFFFF" stroke-opacity="0.1" stroke-width="40" /> -->
        <!-- <circle cx="400" cy="50" r="60" stroke="#FFFFFF" stroke-opacity="0.1" stroke-width="25" /> -->
        <circle cx="150" cy="150" r="90" stroke="#FFFFFF" stroke-opacity="0.08" stroke-width="30" />
        <path d="M245.406 137.609L233.985 94.9852L276.609 106.406L245.406 137.609Z" stroke="#FFFFFF"
          stroke-opacity="0.12" stroke-width="12" />
      </svg>
    </span>
    <span class="absolute bottom-0 right-0">
      <svg width="493" height="470" viewBox="0 0 493 470" fill="none" xmlns="http://www.w3.org/2000/svg">
        <!-- Unique Circles -->
        <!-- <circle cx="470" cy="40" r="130" stroke="#FFFFFF" stroke-opacity="0.1" stroke-width="85" /> -->
        <!-- <circle cx="30" cy="470" r="50" stroke="#FFFFFF" stroke-opacity="0.1" stroke-width="20" /> -->
        <circle cx="400" cy="300" r="70" stroke="#FFFFFF" stroke-opacity="0.08" stroke-width="25" />
        <path d="M222.393 226.701L272.808 213.192L259.299 263.607L222.393 226.701Z" stroke="#FFFFFF"
          stroke-opacity="0.1" stroke-width="13" />
      </svg>
    </span>
  </div>  
</section>
<!-- ====== Hero Section End -->
