---
// Data for volunteer options
const volunteerOptions = [
  {
    role: "IT Professionals",
    description: "Assist with the technical aspects of AccessGR.",
    signUpLink: "",
  },
  {
    role: "Donate A Device",
    description: "Donate an unwanted computer and make a difference in Grand Rapids.",
    signUpLink: "",
  },
  {
    role: "View Jobs",
    description: "View open jobs in West Michigan from our partners.",
    signUpLink: "/jobboard",
  },
];
---

<!-- ====== Support Us Section Start -->
<section
  id="support"
  class="relative z-20 overflow-hidden bg-light dark:bg-dark pt-20 pb-12 lg:pt-[120px] lg:pb-[90px]"
>
  <div class="container">
    <div class="-mx-4 flex flex-wrap">
      <div class="w-full px-4">
        <div class="mx-auto mb-[60px] max-w-[510px] text-center">
          <span class="mb-2 block text-lg font-semibold text-primary">
            Get Involved
          </span>
          <h2 class="mb-3 text-3xl font-bold text-dark dark:text-white sm:text-4xl md:leading-[1.2] md:text-[40px]">
            Support Us and Make a Difference
          </h2>
          <p class="text-base text-body-color dark:text-dark-6">
            We offer various ways to support our cause, whether through volunteering or other forms of involvement.
          </p>
        </div>
      </div>
    </div>

    <div class="-mx-4 flex flex-wrap justify-center">
      {volunteerOptions.map((option) => (
        <div class="w-full px-4 md:w-1/2 lg:w-1/3">
          <div
            class="relative z-10 mb-10 overflow-hidden rounded-xl bg-white dark:bg-dark-2 py-10 px-8 shadow-pricing sm:p-12 lg:py-10 lg:px-6 xl:p-14"
          >
            <span
              class="mb-5 block text-xl font-medium text-dark dark:text-white"
            >
              {option.role}
            </span>
            <p class="mb-6 text-base text-body-color dark:text-dark-6">
              {option.description}
            </p>

            <a
              href={option.signUpLink}
              class="inline-block rounded-md bg-primary py-3 px-7 text-center text-base font-medium text-white transition hover:bg-blue-dark"
            >
              View ->
            </a>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>
<!-- ====== Support Us Section End -->
